@config "./tailwind.config.js";
@import "tailwindcss";

body {
  background-color: #000000;
}

.tabular-nums {
  font-feature-settings: "tnum";
  font-variant-numeric: tabular-nums;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]:focus {
  border-color: #6f0a22;
  box-shadow: 0 0 0 1px #6f0a22;
}

*:focus-visible {
  outline: 2px solid #6f0a22;
  outline-offset: 2px;
}

button:focus-visible,
input:focus-visible {
  box-shadow: 0 0 0 2px #6f0a22;
  outline: none;
}
